<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" >
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
   <link rel="stylesheet" href="../css/style.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <link rel="icon" href="../images/logo2.png">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand">LIBRARY</a>
        <img src="../images/logo2.png" width="30" height="30" alt="">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <a href="/" class="navbar-brand">Home</a>
            <ul class="navbar-nav">
  
            <%for(i=0;i<nav.length;i++){%>
                <li>
                  <a class="navbar" href="<%=nav[i].link%>"><%=nav[i].name%></a>
                </li>
              <%}%>
            </ul>
            
          </div>
          
        </nav>
  
           
        </div>

       


        <div class="container-fluid fi ">


          <div class="row fi">
            <div class="col-md-4 col-sm-4 col-sx-12 "></div>
            <div class="col-md-4 col-sm-4 col-sx-12 bg">
              <!-- <div class="row" style="height: 80px;"></div> -->
              
       
             <form id="log" action="/books" onsubmit="return validate()">
               <h1 style="color: azure;font-weight: bolder;text-decoration: underline;font-family: Arial, Helvetica, sans-serif;text-align: center;font-size: xx-large;">LOGIN</h1>
               <div class="logi" style="height: 10px;"></div>
               <div class="login" style="color: azure;">
               <div class="form-group">
        
                 <input type="email" id="email" class="form-control"  placeholder="Email" >
               </div>
               <div class="form-group">
              
                 <input type="password" class="form-control" id="pwd" placeholder="Password">
               </div>
               <div class="form-group form-check">
                 <input type="checkbox" class="form-check-input" id="exampleCheck1">
                 <label class="form-check-label" for="exampleCheck1">Remember me</label>
               </div>
          
       
            
               <button type="submit" class="btn btn-primary btn-block">Login</button>
        
               <p class="message">Not registered? <a href="/Signup">Create an account</a></p>
       
             </form>
       
            </div>
            <div class="col-md-4 col-sm-4 col-sx-12"></div>
       
       
          </div>
        </div>
       
       
         </div>
       



         <footer class="page-footer fixed-bottom font-small blue pt-4 max">
          <div class="container-fluid text-center text-md-left">
        
      
            <div class="row">
             <div class="col-md-4 maz">
             <h5 class="text-uppercase"  style="text-decoration: underline;">LIBRARY</h5>
                <p> A curated collection of sources of information and similar resources, selected by experts and made accessible to a defined community for reference or borrowing, often in a quiet environment conducive to study.</p>
        
              </div>
            <hr class="clearfix w-100 d-md-none pb-3">
        
         
              <div class="col-md-4 mac">
        
            
                <h5 class="text-uppercase"  style="text-decoration: underline;">QUICK LINKS</h5>
        
                <ul class="list-unstyled">
                  <li>
                    <a href="/">Home</a>
                  </li>
                  <li>
                    <a href="/Books">Books</a>
                  </li>
                  <li>
                    <a href="/Authors">Authors</a>
                  </li>
                  <li>
                    <a href="/Login">Login</a>
                  </li>
                  <li>
                    <a href="/Signup">SignUp</a>
                  </li>
                </ul>
        
              </div>
        
        
        
        
              <div class="col-md-4  maz">
        
                <h5 class="text-uppercase" style="text-decoration: underline;">CONTACT</h5>
        
                <ul class="list-unstyled">
                  <li> 
                    <i class="fa fa-map-marker" aria-hidden="true"></i> 121,XYZ street,Trivandrum
                  </li>
                  <li> 
                    <i class="fa fa-phone" aria-hidden="true"></i> 006-126-456-12
                  </li>
                  <li> 
                    <i class="fa fa-envelope" aria-hidden="true"></i> support@librarymanagement.com
                  </li>
                </ul>
                <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                      <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                          <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        
              </div>
           
            </div>
        
          </div>
          <div class="footer-copyright text-center py-3 mav">Copyright © Library Management 2020. All rights reserved
         
        
          </div>
         
        
        </footer>
        


        <script src="/js/Login.js"></script>
         <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
</body>
</html>